---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/NavBar/Navbar.astro'
---

<Layout title="首页">
  <Navbar slot="nav" />
  <div class="prose lg:prose-xl mx-auto">
    <h1>关于</h1>
    <div>
      <p>我是一个前端工程师，喜欢研究新技术，喜欢分享知识，喜欢写博客。</p>
    </div>
  </div>
</Layout>
