---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar/Navbar.astro";
---

<Layout title="首页">
  <Navbar slot="nav" />
  <div class="prose lg:prose-xl mx-auto">
    <h1 class="text-center">欢迎来到我的博客</h1>
    <div class="text-center text-gray-600">
      这里是一个使用 Astro + Tailwind CSS + React 构建的博客系统
    </div>
  </div>
</Layout>
