---
import BlogLayout from '@/layouts/BlogLayout.astro'
import ArticleList from '@/components/ArticleList.astro'
---

<BlogLayout title="JavaScript 教程">
  <ArticleList type="javascriptCollection" />
  <div>我是对应内容介绍页面</div>
</BlogLayout>
