---
import BlogLayout from '@/layouts/BlogLayout.astro'
import ArticleList from '@/components/ArticleList.astro'
import MarkdownWrapper from '@/components/markdown/MarkdownWrapper.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('network')
  return posts.map((post) => ({
    params: { post: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
// 如果没有找到文章，重定向到404页面
if (!post) {
  return Astro.redirect('/404')
}

// 获取文章内容
// const { Content } = await post.render()
---

<BlogLayout title={'network'}>
  <ArticleList type="network" post={post} slot="article-list" />
  <MarkdownWrapper>
    <h1>{post.data.title}</h1>
  </MarkdownWrapper>
</BlogLayout>
